*{margin: 0; padding: 0;} 
div.so1{
    display: flex;
    width: 800px;
    height: 500px;
    margin-left: 300px;
    justify-content: space-between;
}
img.anh1{
    width: 590px;
    margin-right: 10px;
}
img.anh2{
    width: 590px;
    margin-left: 10px;
}